<?xml version="1.0" encoding="UTF-8"?>
<!--
Theme: es-theme-ComicScrap for Retrobat - Batocera
version: 2.0
author: Lehcim Cram Trebor
inspired by ComicBook theme by TMNTturtleguy at https://github.com/TMNTturtleguy/es-theme-ComicBook
-->

<theme>
<formatVersion>7</formatVersion>
	<view name="menu">
		<menuText name="menutitle">
			<fontPath>./../fonts/NotoSansMono-ExtraBold.ttf</fontPath>
			<fontSize>0.021</fontSize>
			<color>202020</color>
		</menuText>
		<menuText name="menufooter">
			<fontPath>./../fonts/Cabin_Condensed-Italic.ttf</fontPath>
			<fontSize>0.014</fontSize>
			<color>202020</color>
		</menuText>
		<menuText name="menutext">
			<fontPath>./../fonts/NotoSansMono_SemiCondensed-Bold.ttf</fontPath>
			<fontSize>0.018</fontSize>
			<color>121212</color>
			<separatorColor>${tint}40</separatorColor>
			<selectorColor>808080bb</selectorColor>
			<selectorColorEnd>808080cc</selectorColorEnd>
			<selectedColor>${tint}</selectedColor>
			<selectorGradientType>vertical</selectorGradientType>
		</menuText>
		<menuTextSmall name="menutextsmall">
			<fontPath>./../fonts/NotoSansMono_SemiCondensed-Bold.ttf</fontPath>
			<fontSize>0.014</fontSize>
			<color>202020</color>
		</menuTextSmall>
		<menuGroup name="menugroup">
			<fontPath>./../fonts/NotoSansMono_SemiCondensed-ExtraBold.ttf</fontPath>
			<fontSize>0.021</fontSize>
			<color>202020</color>
			<backgroundColor>${tint}aa</backgroundColor>
			<lineSpacing>3</lineSpacing>
			<alignment>center</alignment>
		</menuGroup>
		<menuBackground name="menubg">
			<color>${tint}</color>
			<scrollbarColor>202020bb</scrollbarColor>
			<scrollbarSize>0.0015</scrollbarSize>
			<scrollbarCorner>0.6</scrollbarCorner>
			<scrollbarAlignment>innerright</scrollbarAlignment>
            <path>./menubg.png</path>
			<cornerSize>19 18</cornerSize>
			<roundCorners>0.018</roundCorners>
			<fadePath>./scroll_gradient.png</fadePath>
		</menuBackground>
		<menuIcons name="menuicons">
			<iconKodi>./Kodi.png</iconKodi>
			<iconSystem>./System.png</iconSystem>
			<iconUpdates>./Updates.png</iconUpdates>
			<iconGames>./Games.png</iconGames>
			<iconControllers>./Controllers.png</iconControllers>
			<iconUI>./UI.png</iconUI>
			<iconSound>./Sound.png</iconSound>
			<iconNetwork>./Network.png</iconNetwork>
			<iconScraper>./Scraper.png</iconScraper>
			<iconAdvanced>./Advanced.png</iconAdvanced>
			<iconQuit>./Quit.png</iconQuit>
			<iconRestart>./Restart.png</iconRestart>
			<iconShutdown>./Shutdown.png</iconShutdown>
			<iconFastShutdown>./Fastshutdown.png</iconFastShutdown>
			<iconRetroachievements>./Contest.png</iconRetroachievements>
			<iconManual>./Manual.png</iconManual>
		</menuIcons>
		<menuTextEdit name="menutextedit">
			<inactive>./textinput_ninepatch.png</inactive>
			<active>./textinput_ninepatch_active.png</active>
		</menuTextEdit>
		<menuButton name="menubutton">
			<path>./button.png</path>
			<filledPath>./button_filled.png</filledPath>
			<cornerSize>8 8</cornerSize>
		</menuButton>
	</view>

</theme>
